.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #002538;
  }
  
  .score-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #628956;
    font-family: monospace;
  }
  
  .score-table {
    width: 60%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .score-table th, .score-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .score-table th {
    background-color: #d90429;
    color: white;
    font-size: 1.1rem;
  }
  
  .score-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .score-table tr:hover {
    background-color: #ffcad4;
    transition: 0.3s ease-in-out;
  }
  
  .score-table td {
    font-size: 1rem;
  }
  